.avatar{
    width: '70px';
    height: '70px';
}

div#alert-dialog-title{
    display: flex;
    flex-flow: row;
}

.items-dialog{
    align-items: center;
}

h2.MuiTypography-root.MuiTypography-h6{
    width: 100%;
}