.container-preview{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.card-root{
    display: flex;
    width: 80%;
}

.card-details{
    display: flex;
    flex-direction: column;
}

.card-content{
    flex: 1 0 auto;
}

.card-cover{
    min-width: 200px;
}

.username-info{
    color: #3f51b5;
    cursor: pointer;    
    padding-left: 8px;
    padding-bottom: 8px;
}